<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('nav.ejs') %>
    <link rel="stylesheet" href="/stylesheets/kanban.css">
</head>
<body>
    
    <!-- <div class="header">
        <h1>KANBAN</h1>
    </div> -->
    <div class="container">
        <div>
            <p class="box black">Best</h1>
            <div class="column">
                <% for(let i=0;i<data.length;i++){ %>
                    <% if (950<=data[i].position_x&&data[i].position_x<=1220&&940<=data[i].position_y&&data[i].position_y<=1220){ %>
                        <div class="postit" draggable="true">
                            <img src=<%= data[i].img %> width="100">
                        </div>
                    <% }%>
                <% } %>
            </div>
        </div>
        <div>
            <p class="box black">Good</h1>
            <div class="column">
                <% for(let i=0;i<data.length;i++){ %>
                    <% if (700<=data[i].position_x&&data[i].position_x<=1470&&680<=data[i].position_y&&data[i].position_y<=1470){ %>
                        <% if (950>data[i].position_x||data[i].position_x>1220||940>data[i].position_y||data[i].position_y>1220){ %>
                            <div class="postit" draggable="true">
                                <img src=<%= data[i].img %>.jpeg width="100">
                            </div>
                        <% }%>
                    <% }%>
                <% }%>
            </div>
        </div>
        <div>
            <p class="box black">Ideas</h1>
            <div class="column">
                <% for(let i=0;i<data.length;i++){ %>
                    <% if (500<=data[i].position_x&&data[i].position_x<=1660&&500<=data[i].position_y&&data[i].position_y<=1660){ %>
                        <% if (700>data[i].position_x||data[i].position_x>1470||680>data[i].position_y||data[i].position_y>1470){ %>
                            <div class="postit" draggable="true">
                                <img src=<%= data[i].img %>.jpeg width="100">
                            </div>
                        <% }%>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div>
            <p class="box black">Square</h1>
            <div class="column">        
                <% for(let i=0;i<data.length;i++){ %>
                    <% if (data[i].size==1){ %>
                        <div class="postit" draggable="true">
                            <img src=<%= data[i].img %>.jpeg width="100">
                        </div>
                    <% }%>
                <% } %>
            </div>
        </div>
        <div>
            <p class="box black">Rectangle</h1>
            <div class="column">        
                <% for(let i=0;i<data.length;i++){ %>
                    <% if (data[i].size==0){ %>
                        <div class="postit" draggable="true">
                            <img src=<%= data[i].img %>.jpeg width="100">
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js" integrity="sha512-zYXldzJsDrNKV+odAwFYiDXV2Cy37cwizT+NkuiPGsa9X1dOz04eHvUWVuxaJ299GvcJT31ug2zO4itXBjFx4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/kanban.js""></script>
</body>
</html>